APP_NAME=FHIRBridge
APP_ENV=development
API_HOST=0.0.0.0
API_PORT=8000
DATABASE_URL=postgresql+psycopg://fhirbridge:fhirbridge@postgres:5432/fhirbridge
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
HL7_QUEUE_NAME=hl7_messages
FHIR_AUTO_SUBMIT_ENABLED=true
FHIR_AUTO_SUBMIT_ENDPOINTS=https://hapi.fhir.org/baseR4
POSTGRES_DB=fhirbridge
POSTGRES_USER=fhirbridge
POSTGRES_PASSWORD=fhirbridge
